
.btn{
    background-color:$mainBlue;
    font-weight:450;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    color: whitesmoke;
    text-decoration: none;
    padding: 0.5rem 1.1rem;
    display: inline-block;
    border-radius: 0.1rem;

    &__orenge{
        background-color: $mainOrenge;
    }
    &__large{
        @mixin atSmall {
            font-size: 1.25rem;
            padding: 0.6rem 1.0rem;
        }
    }
    &__opacity{
        background-color: rgba(47, 85, 114, 0.51);
    }
}
