.page-section{

    padding: 0.5rem 0;

    @mixin atMedium {
        padding: 1.5rem 0;
    }

    &__blue{
        background-color: $mainBlue;
        color: white;
    }
    
    p {
        text-align: justify;
    }
}