.row{
    
    /*display: flex;*/
    @mixin clearfix{};
    

    &__b-margin-until-medium{
        margin-bottom: 1rem;
    }
    &__t-padding{
        margin-top: 110px;
    }
    @mixin atMedium {
        &__gutters-smaller{
            padding-right: -10px;
        }
        &__gutters-smaller > div{
            padding-right: 10px;
            /*box-sizing: border-box;*/
        }
        &__gutters-small{
            padding-right: -30px;
        }
        &__gutters-small > div{
            padding-right: 30px;
            /*box-sizing: border-box;*/
        }
        &__gutters{
            padding-right: -65px;
        }
        &__gutters > div{
            padding-right: 65px;
            /*box-sizing: border-box;*/
        }
        &__gutters-large{
            padding-right: -85px;
        }
        &__gutters-large > div{
            padding-right: 85px;
            /*box-sizing: border-box;*/
        }
        &__medium-4{
            float: left;
            width: 33.3%;
            padding-right: 0px;
        }
        &__medium-8{
            float: left;
            width: 66.4%;
            padding-right: 0px;
        }
        &__medium-4_5{
            float: left;
            width: 36.3%;
            padding-right: 0px;
        }
        &__medium-7_5{
            float: left;
            width: 63.4%;
            padding-right: 0px;
        }
        &__b-margin-until-medium{
            margin-bottom: 0;
        }

        &__medium-6{
            float: left;
            width: 50%;
            padding-right: 0px;
        }
        
        &__medium-2{
            float: left;
            width: 15%;
            padding-right: 0px;
        }
        &__medium-10{
            float: left;
            width: 85%;
            padding-right: 0px;
        }

        &__equal-high-atMedium{
            display: flex;
           & > div{
               display: flex;
           } 
        }
    }
    @mixin atLarg {
        &__atLarg-gutters-smaller{
            padding-right: -10px;
        }
        &__atLarg-gutters-smaller > div{
            padding-right: 10px;
            /*box-sizing: border-box;*/
        }
        &__atLarg-gutters-small{
            padding-right: -30px;
        }
        &__atLarg-gutters-small > div{
            padding-right: 30px;
            /*box-sizing: border-box;*/
        }
        &__atLarg-gutters{
            padding-right: -65px;
        }
        &__atLarg-gutters > div{
            padding-right: 65px;
            /*box-sizing: border-box;*/
        }
        &__atLarg-gutters-large{
            padding-right: -85px;
        }
        &__atLarg-gutters-large > div{
            padding-right: 85px;
            /*box-sizing: border-box;*/
        }
        &__atLarg-4{
            float: left;
            width: 33.3%;
            padding-right: 0px;
        }
        &__equal-high-atLarg{
            display: flex;
            & > div{
                display: flex;
            } 
        }
    }
}