.section-title{
   font-size: 2rem;
   font-weight: 300;
   text-align: center;
   margin-top: 0.8rem;
   margin-bottom: 2rem;
   &__centered{
       text-align: center;
   }
   @mixin atMedium{
       font-size: 3.875;
       margin-bottom: 3rem;
       &__centered{
        text-align: left;
    }
   } 
   strong{
       font-weight: 500;
   }
   &__icon{
       max-width: 4rem;
       margin-right: 0.5rem;
       transform: translateY(0.4em);
   }


}